.side-bar
 .side-header
  .side-box
   %p.side-box__name
    = current_user.name
   %ul.side-box__lists
    %li.list
     = link_to new_group_path do
      = icon('fa', 'edit',class: "side-box__btn")
    %li.list
     = link_to edit_user_path(current_user) do
      = icon('fa', 'cog', class: "side-box__btn")
      

 .groups
  .group
   %p.group__name tech::camp
   %p.group__message まだメッセージがありません

  .group
   %p.group__name tech::exepart
   %p.group__message まだメッセージがありません
